# --------------------    Finance Data Project    --------------------
    # This project is challenging as it introduces many new concepts. 
    # You may need to research on your own, but guidance will be provided.


#### This project focuses on exploratory data analysis of "stock prices", 
    # specifically bank stocks, from the 2008 financial crisis to early 2016. 
    # The goal is to practice visualization and pandas skills, 
    # it is not meant to be a robust financial analysis or be taken as financial advice

#### The 2008 financial crisis:
    # The 2008 financial crisis was a major global economic downturn triggered by subprime mortgages, 
    # excessive risk-taking by financial institutions, and regulatory failures. 
    # It led to a stock market crash and an international banking crisis,

In [2]:
# import libraries
import numpy as np
import pandas as pd

from pandas_datareader import data, wb
import datetime

# We'll use following visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns

# shows figures in ipynb
%matplotlib inline

# To remove 'warnings' use 'filterwarnings'
import warnings
warnings.filterwarnings('ignore')

### --------  loading provided "pickle file"   --------
    # loading provided "pickle file" of the "stock data from Jan 1st 2006 to Jan 1st 2016"

In [3]:
# provided data is a "pickle" file so read_csv wont work
# Read in the csv file and as a dataframe
# df = pd.read_csv("./data_all_banks")
df = pd.read_pickle("data_all_banks")  # Load a pickle file into a DataFrame

In [4]:
# data info
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2517 entries, 2006-01-03 to 2015-12-31
Data columns (total 30 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   (BAC, Open)    2517 non-null   float64
 1   (BAC, High)    2517 non-null   float64
 2   (BAC, Low)     2517 non-null   float64
 3   (BAC, Close)   2517 non-null   float64
 4   (BAC, Volume)  2517 non-null   int64
 5   (C, Open)      2517 non-null   float64
 6   (C, High)      2517 non-null   float64
 7   (C, Low)       2517 non-null   float64
 8   (C, Close)     2517 non-null   float64
 9   (C, Volume)    2517 non-null   int64
 10  (GS, Open)     2517 non-null   float64
 11  (GS, High)     2517 non-null   float64
 12  (GS, Low)      2517 non-null   float64
 13  (GS, Close)    2517 non-null   float64
 14  (GS, Volume)   2517 non-null   int64
 15  (JPM, Open)    2517 non-null   float64
 16  (JPM, High)    2517 non-null   float64
 17  (JPM, Low)     2517 non-null   float64
 18  (JPM, Close)   2517 non-null   float64
 19  (JPM, Volume)  2517 non-null   int64
 20  (MS, Open)     2517 non-null   float64
 21  (MS, High)     2517 non-null   float64
 22  (MS, Low)      2517 non-null   float64
 23  (MS, Close)    2517 non-null   float64
 24  (MS, Volume)   2517 non-null   int64
 25  (WFC, Open)    2517 non-null   float64
 26  (WFC, High)    2517 non-null   float64
 27  (WFC, Low)     2517 non-null   float64
 28  (WFC, Close)   2517 non-null   float64
 29  (WFC, Volume)  2517 non-null   int64
dtypes: float64(24), int64(6)
memory usage: 609.6 KB

In [7]:
# inspect first 5 row
df.head(5)

Bank Ticker    BAC                                     C                       \
Stock Info    Open   High    Low  Close    Volume   Open   High    Low  Close
Date
2006-01-03   46.92  47.18  46.15  47.08  16296700  490.0  493.8  481.1  492.9
2006-01-04   47.00  47.24  46.45  46.58  17757900  488.6  491.0  483.5  483.8
2006-01-05   46.58  46.83  46.32  46.64  14970900  484.4  487.8  484.0  486.2
2006-01-06   46.80  46.91  46.35  46.57  12599800  488.8  489.0  482.0  486.2
2006-01-09   46.72  46.97  46.36  46.60  15620000  486.0  487.4  483.0  483.9

Bank Ticker           ...     MS                                  WFC         \
Stock Info    Volume  ...   Open   High    Low  Close   Volume   Open   High
Date                  ...
2006-01-03   1537660  ...  57.17  58.49  56.74  58.31  5377000  31.60  31.98
2006-01-04   1871020  ...  58.70  59.28  58.35  58.35  7977800  31.80  31.82
2006-01-05   1143160  ...  58.55  58.59  58.02  58.51  5778000  31.50  31.56
2006-01-06   1370250  ...  58.77  58.85  58.05  58.57  6889800  31.58  31.78
2006-01-09   1680740  ...  58.63  59.29  58.62  59.19  4144500  31.68  31.82

Bank Ticker
Stock Info     Low  Close    Volume
Date
2006-01-03   31.20  31.90  11016400
2006-01-04   31.36  31.53  10871000
2006-01-05   31.31  31.50  10158000
2006-01-06   31.38  31.68   8403800
2006-01-09   31.56  31.68   5619600

[5 rows x 30 columns]

In [8]:
df['BAC']

Stock Info   Open   High    Low  Close    Volume
Date
2006-01-03  46.92  47.18  46.15  47.08  16296700
2006-01-04  47.00  47.24  46.45  46.58  17757900
2006-01-05  46.58  46.83  46.32  46.64  14970900
2006-01-06  46.80  46.91  46.35  46.57  12599800
2006-01-09  46.72  46.97  46.36  46.60  15620000
...           ...    ...    ...    ...       ...
2015-12-24  17.32  17.38  17.22  17.27  29373415
2015-12-28  17.22  17.23  16.98  17.13  41777497
2015-12-29  17.25  17.35  17.16  17.28  45670376
2015-12-30  17.20  17.24  17.04  17.05  35066378
2015-12-31  17.01  17.07  16.83  16.83  47152968

[2517 rows x 5 columns]

In [9]:
df['C']

Stock Info    Open    High     Low   Close    Volume
Date
2006-01-03  490.00  493.80  481.10  492.90   1537660
2006-01-04  488.60  491.00  483.50  483.80   1871020
2006-01-05  484.40  487.80  484.00  486.20   1143160
2006-01-06  488.80  489.00  482.00  486.20   1370250
2006-01-09  486.00  487.40  483.00  483.90   1680740
...            ...     ...     ...     ...       ...
2015-12-24   52.48   52.97   52.45   52.71   4671254
2015-12-28   52.57   52.57   51.96   52.38   8761743
2015-12-29   52.76   53.22   52.74   52.98  10155134
2015-12-30   52.84   52.94   52.25   52.30   8763337
2015-12-31   52.07   52.39   51.75   51.75  11281771

[2517 rows x 5 columns]