# --------    Data Types: Numbers    --------

In [1]:
1+1

2

In [3]:
1-2

-1

In [4]:
1*3

3

In [5]:
1/2

0.5

In [6]:
2**8    # Power or exponent

256

In [7]:
9%2     # mod

1

In [10]:
9%3     # mod

0

In [8]:
# for arithmetic Python uses: PEMDAS
    # So we can use () for paranthesis
2+3*5+5

22

In [9]:
(2+3)*(5+5)

50

_____

# --------    Variable Assignments    --------
    # var_name = obj
    # do not use numbers, special signs at beginning of a var_name
    # do not use keywors as var_name

---

# --------    strings    --------
    # use '' or ""
    # mix both to print other

In [3]:
sTr = "I can't Go"
sTr

"I can't Go"

In [2]:
print(sTr)

I can't Go

### indexing strings

In [2]:
s = 'Hello'
s[0]

'H'

In [3]:
s[4]

'o'

### slicing

In [4]:
s = 'abcdefghijk'
s[0:]   # 'all' starting from 0

'abcdefghijk'

In [5]:
s[2:]   # 'all' starting from 2 i.e. 'l'

'cdefghijk'

In [6]:
s[:4]   # show upto index 4 (not inclusive)

'abcd'

In [7]:
s[1:3]  # start at 1 and end at 2

'bc'

---

# --------    formatted output    --------

### Using format() method

In [4]:
num = 144
name = 'Smith'
'My contact number id {} and call me {}'.format(num, name)

'My contact number id 144 and call me Smith'

In [5]:
# you can use 'named-parameters' inside format()
'My contact number id {param1} and call me {param2}, more {param1}'.format(param1=num, param2=name)

'My contact number id 144 and call me Smith, more 144'

In [6]:
print('My contact number id {param1} and call me {param2}, more {param1}'.format(param1=num, param2=name))

My contact number id 144 and call me Smith, more 144

### f-string: More readable

In [7]:
print(f'My contact number id {num} and call me {name}, more {num}')  # it more readable than format()

My contact number id 144 and call me Smith, more 144

---

# --------    lists    --------

### a list can have any kind of data-type

In [1]:
lis_1 = ['a', 2, 3, 'ggc', 45.67]

### add an element

In [4]:
lis_1.append("Hello World")

### accessing an element

In [2]:
lis_1[3]

'ggc'

### slicing

In [3]:
lis_1[1:3]

[2, 3]

### updating

In [6]:
lis_1[0] = "abc"
print(lis_1)

['abc', 2, 3, 'ggc', 45.67, 'Hello World']

### nested lists

In [7]:
nstLs_1 = [1, 2, [3, 4]]
nstLs_2 = [5, 8, 'q', [13, 21, ['snowden', 'rmsprop']]]

### accessing nested list's enlement

In [8]:
nstLs_1[2][1]

4

In [9]:
print(nstLs_2[3][2][1])

rmsprop

---

# --------    Dictionaries    --------

In [1]:
# dict can take any type of items including: tuples, lists, strings and nested dicts.
d = {'key1': 'value', 'key2':123}
# d[0]    # won't work, use 'key' instead
d['key1']

'value'

In [2]:
d['key2']

123

In [3]:

d2 = {'k1': [1,2,3]}
d2

{'k1': [1, 2, 3]}

In [4]:
d2['k1']    # accesing the list inside the dictionary

[1, 2, 3]

In [5]:
d2['k1'][1]    # acessing the elements of the list

2

In [6]:
# Nested Dict
d3 = {'k1':{'innerKey':[1,2,3,5,8]}}
d3['k1']['innerKey'][-1]

8

---

# --------    Tuples    --------

In [1]:
# tuples are similar to lists, () is used instead of []
# the main difference between tuple and list is:
    # tuples are immutable: i.e. we cannot update the elements
my_tuple = (1, 2, 3)
my_tuple[0]
# my_tuple[0] = 'new'     # ERR

1

---

# --------    sets    --------

In [2]:
# Set is a collection of unique elements
    # all elements are unique, i.e. no repeated elements
{1, 2, 3}

{1, 2, 3}

In [3]:
{1, 2, 1, 1, 2, 2, 2, 3, 3}     # we still get {1, 2, 3}

{1, 2, 3}

In [1]:
# use set() to get the unique elements from a list
    # it returns the set of unique elements
set([1, 1, 2, 2, 3, 3, 3, 5, 8, 8, 8])

{1, 2, 3, 5, 8}

In [3]:
# adding elements to set 
s = {1, 2, 3}
s.add(5)
s.add(3)
s.add(3)
s.add(2)
print(s)

{1, 2, 3, 5}

---

# --------    Booleans, conditional(comparison) operators and logical operators    --------
    # two values 'True' and 'False' are the booliand in python. 
        # Notice both use capitalization. C++ and Java uses 'true' and 'false'
## --------    comparison operators    --------

In [ ]:
# >, <, ==, >=, <=, != etc
# these returns boolian values
1>2

In [5]:
1<2

True

In [6]:
1>=2

False

In [7]:
1<=2

True

In [8]:
1==2    # equality

False

In [9]:
1!=2

True

In [10]:
# using with strings
'Hi!' == 'bye'

False

In [11]:
'Hi!' != 'bye'

True

## --------    Logical Operators    --------
    # we can combine "logical" operators with "conditional" operators
### 'and'

In [8]:
(1 < 2) and (2 < 3)

True

In [9]:
(1 < 2) and (2 > 3)

False

### 'or'

In [10]:
(1 < 2) or (2 < 3)

True

In [11]:
(1 < 2) or (2 > 3)

True

In [12]:
True or False   # True

True

In [13]:
True and False  # False

False

---

# --------    if, else, elif    --------
### if

In [1]:
# To make a block of code, just indent
if 1<2:
    print('yep!')

yep!

In [2]:
if True:
    print('Perform Code')

Perform Code

In [3]:
if True:
    x = 2 + 2 

print(x)

4

### if-else

In [4]:
if 1 == 2:
    print('First')  # never gonna execute
else:
    print('last')

last

In [5]:
if 1 != 2:
    print('First')  # Always executes
else:
    print('last')   # skipped

First

### elif: for multiple conditions

In [6]:
if 1 == 2:
    print('First')  # skipped
elif 3 == 3:
    print('Middle') # execute
else:
    print('last')   # skipped

Middle

In [7]:
# always first true elif will executes even if there are multiple treu-elif
if 1 == 2:
    print('First')  # skipped
elif 4 == 4:
    print('second') # execute    
elif 3 == 3:
    print('Middle') # skipped
else:
    print('last')   # skipped

second

---

# --------    for, while    --------
### for
    # iterate through a sequence

In [1]:
seq = [1,2,3,4,5]
for item in seq: print(item)

1
2
3
4
5

In [3]:
# use any name for 'loop control variable'
for num in seq: 
    print(f"Hello: {num}")

Hello: 1
Hello: 2
Hello: 3
Hello: 4
Hello: 5

### while
    # always use restriction to loop control variable. Following is infinite loop:
                i = 1
                while i < 5:
                    print(f'i is: {i}')
    # avoid infinite loop: restart the kernel

In [5]:
i = 1
while i < 5:
    print(f'i is: {i}')
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

---

# --------    range    --------

In [1]:
range(0, 5)

range(0, 5)

In [2]:
list(range(0, 5))

[0, 1, 2, 3, 4]

In [3]:
for x in range(0, 5):
    print(x)

0
1
2
3
4

In [4]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [7]:
# 0 to 9 with 2 increment
for x in range(0, 10, 2):
    print(x)

0
2
4
6
8

---

# --------    list comprehension    --------

In [8]:
# its a shorcut for-loop to create a list from a list
# Usinng for-loop instead list-comprehension
x = [1,2,3,4]
out = []
for num in x:
    out.append(num**2)
print(out)  # [1, 4, 9, 16]

[1, 4, 9, 16]

In [9]:
# using list-comprehension:
[num**2 for num in x]
out = [num**2 for num in x]
print(out)

[1, 4, 9, 16]

---