# --------    function    --------

In [1]:
def my_func(param1):
    print(param1)

my_func("Hello")

Hello

In [2]:

def my_func2(name):
    print("Hello "+name)

my_func2("Mi MI")

Hello Mi MI

In [3]:

# Using default value
def my_func3(name='Default Name'):
    print("Hello "+name)

my_func3()

Hello Default Name

In [4]:
my_func3('Gogo')

Hello Gogo

In [5]:
my_func3(name='Bogo')

Hello Bogo

In [6]:
# () used to call (execute) a function
    # following won't call  the function
my_func3

In [7]:
# Return values from a function
def sqRnum(n):
    return n**2

out = sqRnum(12)
out

144

---

# --------    DOCKSTRING : adding function info    --------
    # use ''' or """ immediately after function declaration
    # we can get information from library functions from their DOCSTRING

In [1]:
def sqRnum(n):
    '''
        THIS IS A DOCSTRING.
        CAN GO MULTIPLE LINES.
        THIS FUNCTION SQUARES A NUMBER.
    '''
    return n**2

In [2]:

def my_func4(name='Default Name'):
    """
        This is another DOCKSTRING
    """
    print("Hello "+name)

In [ ]:
sqRnum
my_func4

---

# --------    Lambda Expression, Map & Filter    --------
    # use Lambda Expression instead of writing full function

In [1]:
# a normal function
def times2(num):
    return num*2

times2(5)

10

### --------    map()    --------

In [2]:
seq = [1,2,3,4,5]
# we want to apply times2() on each element of the list "seq"
    # method 1 : we can use a for-loop and make another list
    # method 2 : use map(), it's a python built-in function to do the same thing
""" 
    map(func, *iterables) --> map object

    Make an iterator that computes the function using arguments from each of the iterables. 
    Stops when the shortest iterable is exhausted.
"""

map(times2, seq)    # mapped every elemnt of "seq" in a map-obj using the function "times2"

In [3]:
# converting map-obj to a list
list(map(times2, seq))

# It's more usefull with "Lambda Expression" instead of writing a whole function

[2, 4, 6, 8, 10]

### --------    Lambda Expression    --------

In [4]:
# now we convert above times2() to a lambda function
# our function can be re-written as
def times2(num): return num*2
# in lambda expression we don't use "def times2" and "return" we define it as below
    # we just directly use the retrning expression

In [5]:
# lambda expression of times2()
lambda num: num*2

In [6]:
# we can also store it in a variable, and call it later
    # however we don't usually use lambda like this
    # we'll use lambda for a mpa() like things
t = lambda num: num*2
t(60)

120

In [7]:
# Following we use lambda inside map()
    # this time we return multiple of 3
list(map(lambda num: num*3, seq))

[3, 6, 9, 12, 15]

---

# ----------------    filter()    ----------------
    # it's similar to map(), but insteal of mapping a sequence, we'll filter the sequence
    # a function/lambda (returns BOOLEAN values) is passed as an argument that will filter out.

In [2]:
seq = [1,2,3,4,5]
list(filter(lambda n: n%2 == 0, seq))
# notice "lambda n: n%2 == 0" returns either True or False (Boolean values)
# filter() returns only the element that are true for the condition "n%2 == 0"

[2, 4]

---

# ----------------    methods    ----------------
    # methods are functions that are attached to an object 
    # methods canm be caled upon an object using '.' operator
    # a method can modify the object and return results or do some actions

### ----  string methods  ----

In [1]:
# For example there are several methods defined for 'string' type object
# following uses string-method "lower"
s = "There And Back Again"
s.lower()   # all charecter to lowercase

'there and back again'

In [2]:
s.upper()   # all uppercase

'THERE AND BACK AGAIN'

In [3]:
s.split()   # split on the white-space ' '

['There', 'And', 'Back', 'Again']

In [4]:

# split according to a charcter or string
# following splits on "#"
tweet = 'Go Sports! #Sports'
tweet.split('#')

['Go Sports! ', 'Sports']

In [5]:
tweet.split('#')[1]     # use index to access specific element

'Sports'

### ----  dictionary methods  ----

In [6]:
d = {'k1': 1,'k2':2}
d.keys()    # get the keys

dict_keys(['k1', 'k2'])

In [7]:
d.values()  # get the values

dict_values([1, 2])

In [8]:
d.items()   # dictionary items in a tuple

dict_items([('k1', 1), ('k2', 2)])

### ----  list methods  ----

In [9]:
# pop: pop the last item of the list.
    # it changes the list parmanently
lst = [1,2,3]
lst.pop()

3

In [10]:
print(lst)

[1, 2]

In [11]:
ls2 = [1,2,3,4,5]
itm = ls2.pop()     # store popped item to a vriable

In [12]:
# pop specific item
frst = lst.pop(0)
print(ls2)
print(itm)
print(frst)

[1, 2, 3, 4]
5
1

In [13]:
# append(): appned new item to a list
    # new items appear at the last index
ls2.append('new')
print(ls2)

[1, 2, 3, 4, 'new']

---

# ----  in  ----

In [1]:
'x' in [1,2,3]

False

In [2]:

'x' in ['x', 'y', 'z']

True

---

# ----  unpacking, zip  ----


### ----  tuple unpacking  ----

In [3]:
# consider a list of tuples:
x = [(1,2), (3,4), (5,6)]

# accessing items of a tuple from above list
print(x[0][0])
print(x[0][1])

1
2

In [4]:
# tuple unpacking: iterating through a list of tuples
    # in python, lots of functions do this 

# using a loop:
for item in x:
    print(item[1])

2
4
6

In [5]:

# or
for (a,b) in x:
    print(a)

1
3
5

In [6]:

for (a,b) in x:
    print(b)

2
4
6

In [7]:
# above 3 lopos are actually tuple-unpacking
    # however, () is just a formality, we can do as below
for a,b in x:
    print(b)

# NOTE that 'x' is an iterable of (i,j) format
# for more: colt_python: 
    # py_ch4_3_4_UnPack_varArg_kwArg.py; 
    # py_ch4_4_9_zip.py

2
4
6

In [23]:

# -------------------    zip    -------------------
# Example 1: Join two tuples together:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")
x = zip(a, b)   # <zip object at 0x000001A40B072D80>
# x is one time usable, so we store it in a seperate variable
pair_nm = list(x)     # [('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica')]
pair_nm

[('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica')]

In [24]:
# -------------------    UNPACKING a zip    -------------------
# we use * to unpack a zip, with zip()

itr_tup = [(5, 1), (7, 2), (8, 3)]      # an iterable of tuple
unPack = zip(*itr_tup)  # unpacking
list(unPack)    # [(5, 7, 8), (1, 2, 3)]

[(5, 7, 8), (1, 2, 3)]

In [26]:
unPak_name = zip(*pair_nm)  # using kwargs
list(unPak_name)

[('John', 'Charles', 'Mike'), ('Jenny', 'Christy', 'Monica')]

---

# ==========     List Unpacking     ==========
### -------------    Problem passing List/Tuple to *args    -------------
    # Using * as an Argument (during function call): Argument Unpacking
    # We can use * as an argument to a function-call to "unpack" values like "List" or "Tuple"

    # var-arg: *arg
    # kwarg: **arg

In [27]:

# first we define a function "sum_all_values" using var-arg
def sum_all_values(*args):
    print(args)
    total = 0
    for num in args:
        total += num
    print(total)

In [ ]:
# we want to pass all elements from a list/tuple as multiple arguments of "sum_all_values"
# sum_all_values(1,30,2,5,6)
    # args: (1, 30, 2, 5, 6)

# following returns ERROR
nums = [1,2,3,4,5,6]
sum_all_values(nums)    # ERROR
    # args: ([1, 2, 3, 4, 5, 6],), list is stored as an element of the *args tuple

### -----------    unpacking list    -----------

In [29]:
# to unpack the list and pass its elemens as individual arguments to *args, we need to use '*' in the function call
sum_all_values(*nums)   # works
    # args: (1, 30, 2, 5, 6)

(1, 2, 3, 4, 5, 6)
21

### -----------    unpacking Tuple    -----------

In [30]:
# following also returns ERROR
nums2 = (1,2,3,4)
# sum_all_values(nums2)    # ERROR
#  args: ((1, 2, 3, 4),) tuple is stored as an element of the *args tuple
sum_all_values(*nums2)   # works

(1, 2, 3, 4)
10

---